/* Global styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy");

body {
  text-align: center;
  /* font-family: "Sorts Mill Goudy", Arial, sans-serif; */
  font-family: "Sorts Mill Goudy";
}

div.container {
  margin-top: 10%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 25px;
}

/* Cleaner forms */
