/* Global styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy");

body {
  background-color: #010504;
  color: white;
  font-family: "PT Mono", Arial, sans-serif;
}

div.container {
  margin-top: 10%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 25px;
}
